* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: #333;
    overflow: hidden;
}

.card {
    padding: relative;
    margin: 20px 80px;
    width: 450px;
    height: 700px;
    perspective: 1000px;
}

.img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    transition: .8s;
}

.one {
    background-image: url('assets/forest-g7d67f2041_1280.jpg');
}

.two {
    background-image: url('assets/valley-gea4631527_1920.jpg');
}

.three {
    background-image: url('assets/phone-wallpaper-g2f37296c6_1920.jpg');
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
    transition: .8s;
    opacity: 0;
}

h3 {
    margin-top: 450px;
    margin-bottom: 20px;
}

.text-one {
    transform: rotateX(-180deg);
}

.text-two {
    transform: rotateY(-180deg);
}

.card:hover .text {
    transform: rotate(0);
    opacity: 1;
}

.card:hover .one {
    transform: rotateX(180deg);
    opacity: 0;
}

.card:hover .two {
    transform: rotateY(-180deg);
    opacity: 0;
}

.card:hover .three {
    animation: up .8s;
}

.card:hover .text-three {
    animation: down .8s;
}

@keyframes up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-60%);
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes down {
    0% {
        transform: translateY(0);
        z-index: -1;
    }
    50% {
        transform: translateY(60%);
        z-index: -1;
    }
    100% {
        z-index: 1;
    }
}